# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# SQLite Database
# -----------------------------
backend/eduflow.db

# -----------------------------
# Uploaded Documents
# -----------------------------
backend/uploads/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Pytest
# -----------------------------
.pytest_cache/

# -----------------------------
# MyPy
# -----------------------------
.mypy_cache/

# -----------------------------
# Coverage
# -----------------------------
.coverage
htmlcov/

# -----------------------------
# Operating System Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# ZIP Files
# -----------------------------
*.zip